html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

.navbar {
    display: flex;
    align-content: right;
    justify-content: right;
}

.navbar .navbar-menu {
    flex-grow: initial;
    flex-shrink: initial;
    font-variant: small-caps;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather";
}

.subtitle {
    font-family: "Roboto";
    font-weight: 300;
}

body {
    font-weight: 300;
}

.img-member {
    border-radius: 50px;
    border: 4px solid #00b5b5;
}

.approach-box {
    background: #37abc8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(300deg, #00b5b5, #37abc8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(300deg, #00b5b5, #37abc8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}   

.hero {
    background: #37abc8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(250deg, #00b5b5, #37abc8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(250deg, #00b5b5, #37abc8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}   

.content-text {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.icon-seperator-inline {
    font-size: 0.5rem;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}