html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

.navbar {
    display: flex;
    align-content: right;
    justify-content: right;
}

.navbar .navbar-menu {
    flex-grow: initial;
    flex-shrink: initial;
    font-variant: small-caps;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather";
}

.subtitle {
    font-family: "Roboto";
    font-weight: 300;
}

body {
    font-weight: 300;
}

.img-member {
    border-radius: 50px;
    border: 4px solid #00b5b5;
}

.approach-box, .hero {
    background: #37abc8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(250deg, #00b5b5, #37abc8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(250deg, #00b5b5, #37abc8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}   

.content-text {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.icon-seperator-inline {
    font-size: 0.5rem;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.card .card-image,
.card .card-image .image img {
  height: 200px;
}

.pubs {
    padding-bottom: 2rem;
    padding-top: 0.25rem;
}

footer {
    background-color: #f6f6f6 !important;
}

#expertise {
    background-color: #f6f6f6;
}

.approach_img {
    margin: 0.5rem; 
}

.card-image img {
    object-fit: contain;
}

#expertise .card {
    align-items: stretch;
    height: 100%;
    /* height: 600px !important;
    overflow: hidden; */
}

input[type="checkbox"] {
    accent-color: #ffe08a;
    width: 1.25rem;
    height: 1.25rem;
}