<div id ="approach" class="columns is-multiline is-mobile is-vcentered is-narrow">
    <div class="column is-full has-text-centered content-text">
        <h2>Notre démarche</h2>
    </div>
    <div class="column is-3 is-offset-3">
        <img style="float: right;" src="img/digital-product-manager.svg"/> 
    </div>
    <div class="column is-3">
        <article class="message is-primary">
            <div class="message-header">
              <h5 class="has-text-white mb-0">Prise de contact</h5>
            </div>
            <div class="message-body">
                Vous avez un besoin en traitement et analyse de données? 
                Écrivez-nous à <a href="mailto:info@insileco.io">info@insileco.io</a>.
                Nous vous offrons 30 minutes pour discuter afin de bien cerner votre besoin.
            </div>
          </article>
    </div>
    <div class="column is-3 is-offset-3">
        <article class="message is-primary">
            <div class="message-header">
              <h5 class="has-text-white mb-0">Analyse et propose</h5>
            </div>
            <div class="message-body">
                On analyse votre besoin et nous vous proposons une solution adaptée pour y répondre.
                Cette proposition s'appuie sur un cahier des charges et des dates de livraison précises.
            </div>
        </article>
    </div>
    <div class="column is-3">
        <img style="float: left;" src="img/back-end-engineer.svg"/> 
    </div>
    <div class="column is-3 is-offset-3">
        <img style="float: right;" src="img/digital-product-manager.svg"/> 
    </div>
    <div class="column is-3">
        <article class="message is-primary">
            <div class="message-header">
              <h5 class="has-text-white mb-0">Analyse et propose</h5>
            </div>
            <div class="message-body">
                On analyse votre besoin et nous vous proposons une solution adaptée pour y répondre.
                Cette proposition s'appuie sur un cahier des charges et des dates de livraison précises.
            </div>
        </article>
    </div>
    <div class="column is-3 is-offset-3">
        <article class="message is-primary">
            <div class="message-header">
              <h5 class="has-text-white mb-0">Analyse et propose</h5>
            </div>
            <div class="message-body">
                On analyse votre besoin et nous vous proposons une solution adaptée pour y répondre.
                Cette proposition s'appuie sur un cahier des charges et des dates de livraison précises.
            </div>
        </article>
    </div>
    <div class="column is-3">
        <img style="float: left;" src="img/operations-engineer.svg"/> 
    </div>
</div>