<div id ="approach" class="columns is-multiline is-mobile is-vcentered is-narrow">
    {{ $appr := index .Site.Data .Site.Language.Lang "home" "approach" }}
    {{ with $appr }}
    <div class="column is-full has-text-centered content-text">
        <h2>{{ .title }}</h2>
    </div>
    <div class="column is-3 is-offset-3">
        <img style="float: right;" src="/img/digital-product-manager.svg"/> 
    </div>
    <div class="column is-3">
        <article class="message is-primary">
            <div class="message-header">
              <h5 class="has-text-white mb-0">{{ .step1.name }}</h5>
            </div>
            <div class="message-body">
                {{ .step1.description | safeHTML }}
            </div>
          </article>
    </div>
    <div class="column is-3 is-offset-3">
        <article class="message is-primary">
            <div class="message-header">
              <h5 class="has-text-white mb-0">{{ .step2.name }}</h5>
            </div>
            <div class="message-body">
                {{ .step2.description | safeHTML }}
            </div>
        </article>
    </div>
    <div class="column is-3">
        <img style="float: left;" src="/img/back-end-engineer.svg"/> 
    </div>
    <div class="column is-3 is-offset-3">
        <img style="float: right;" src="/img/digital-product-manager.svg"/> 
    </div>
    <div class="column is-3">
        <article class="message is-primary">
            <div class="message-header">
              <h5 class="has-text-white mb-0">{{ .step3.name }}</h5>
            </div>
            <div class="message-body">
                {{ .step3.description | safeHTML }}
            </div>
        </article>
    </div>
    <div class="column is-3 is-offset-3">
        <article class="message is-primary">
            <div class="message-header">
              <h5 class="has-text-white mb-0">{{ .step4.name }}</h5>
            </div>
            <div class="message-body">
                {{ .step4.description | safeHTML }}
            </div>
        </article>
    </div>
    <div class="column is-3">
        <img style="float: left;" src="/img/operations-engineer.svg"/> 
    </div>
    {{ end }}
</div>