{{ $data := index .Site.Data .Site.Language.Lang "expertise" }}
{{ $categories := slice }}

{{ range $data }}
    {{ $categories = $categories | append .categories }}
{{ end }}

{{ $categories := (uniq $categories) }}


<div id="expertise">
    <div class="columns is-multiline is-flex-direction-eow is-align-items-stretch content m-6 py-6">

        <div class="column is-full has-text-centered content-text">
            <h1>{{ .Site.Params.title_expertise }}</h1>
        </div>
        <div class="column is-2-desktop"></div>
        <div class="column is-6-full-hd is-8-desktop is-10-tablet is-mobile-12 px-2 content-text has-text-justified">
            <p>{{ .Site.Params.subtitle_expertise }}</p>
        </div>
        <div class="column is-2-desktop"></div>


        <div id="projects_checkboxes" class="column is-full has-text-centered content-text">
            {{ range $categories }}
            <label id="{{ . | lower }}" class="checkbox is-size-4 ml-4">
                <input type="checkbox" checked name="{{ . | lower }}"
                    onchange="filterProjectCards(getProjectTagsChecked())" /> {{ . }}
            </label>
            {{ end }}
        </div>


        {{ range sort $data "weight" }}
            {{ $card_class := delimit
            (apply
            (apply .categories "printf" "project_card_%s" ".")
            "lower" "."
            ) " "
            }}
            <div class="column is-one-quarter-fullhd is-one-third-widescreen is-one-third-desktop is-half-touch is-half-tablet is-full-mobile">
                <div class="card project_card {{ $card_class }}">
                    <header class="card-header approach-box">
                        <p class="card-header-title has-text-white">
                            {{ upper .name }}
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="columns">
                            <div class="column is-full">
                                {{ range .categories }}
                                    <span class="tag is-warning is-medium mb-1">{{ . }}</span>
                                {{ end }}
                            </div>
                        </div>
                        <div class="card-image mb-4">
                            <figure class="image is-16by9">
                                <img src={{ .pict |
                                    default "https://images.squarespace-cdn.com/content/v1/642b03cefb8ada280f4cdd20/1682615563196-HLX9587CP1AJEHIM4WBM/charlie-deets-QNwET9cMlJU-unsplash.jpg?format=2500w"
                                    }} alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="content has-text-justified">
                            {{ with .description }}
                                <i class="fa-solid fa-circle-info"></i> 
                                {{ . }}
                            {{ end }}
                            <br>
                            <div class = "mt-1">
                                {{ range .tags }}
                                <span class="tag is-primary mt-1 has-text-left">{{ . }}</span>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}
    
    </div>
</div>