<div class="columns is-mobile is-centered">
    <div class="column is-half has-text-centered my-2">
        {{ $logo := resources.Get "/img/inSileco-white.png" }}
        <img src="{{ $logo.RelPermalink }}" style="max-height:8rem;"/>
        <h1 class="is-size-3 has-text-weight-bold">InSileco</h1>
        <h4 class="subtitle mb-0">Cabinet d'experts en science des données</h4>
        <p>
            <span class="icon-text">
                <span>Solutions</span>
                <span class="icon icon-seperator-inline">
                    <ion-icon class="icon-seperator-inline" name="ellipse"></ion-icon>
                </span>
                <span>Accompagnement</span>
                <span class="icon">
                    <ion-icon class="icon-seperator-inline" name="ellipse"></ion-icon>
                </span>
                <span>Formations</span>
            </span>
        </p>
    </div>
</div>