<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {{ .Title }}</title>
    <!-- load bulma css compiled with our customizations from scss -->
    {{ $cssOpts := (dict "includePaths" (slice "node_modules/bulma" "assets/scss")) }}
    {{ with $bulma := resources.Get "scss/main.scss" | toCSS $cssOpts }}
        <style> {{ .Content | safeCSS }} </style>
    {{ end }}
    <link rel="stylesheet" href="css/insileco.css">
    <script defer language="javascript" type="text/javascript"  src="{{ "js/navbar.js" | urlize | relURL }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
</head>
