<div class="columns is-spaced is-centered" style="margin-top:5%">
    <div class="column is-desktop-6 is-mobile-10 has-text-centered my-5">
        <img src="/img/logo.svg" height="9rem;" style="max-height:12rem;"/>
        <h1 class="is-size-3 has-text-weight-bold">inSileco</h1>
        <h4 class="subtitle mb-0">{{ .Site.Params.subtitle }}</h4>
        <p>
            <span class="icon-text">
                {{ $list := .Site.Params.keywords }}
                {{ $len := len $list }}
                {{ range $index, $element := .Site.Params.keywords }}
                    <span>{{ $element }}</span>
                    {{ if ne (add $index 1) $len }}
                        <span class="mx-3">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                        </span>
                    {{ end }}
                {{ end }}
            </span>
        </p>
    </div>

</div>