<section id="mission" class="hero is-primary is-halfheight my-6">
    <div class="hero-body">
        <div class="columns is-vcentered is-multiline is-desktop">
            <div class="column is-5-desktop is-offset-1">
                <img src="/img/data-scientist2.svg" style="max-height:20rem" />
            </div>
            <div class="column is-5-desktop">
                {{ with index .Site.Data .Site.Language.Lang "home" "mission" }}
                <h1 class="content-text is-size-3">{{ .title }}</h1>
                <p class="has-text-weight-light content-text is-size-5">
                    {{ .description }}
                </p>
                {{ end }}
            </div>
            <div class="column is-2"></div>
        </div>
    </div>
</section>