{{ "<!-- Header -->" | safeHTML }}
    <header id="header" class="alt">
        <a href="{{ .Site.BaseURL }}" class="logo">{{ if .Site.Params.Navigation.logo }}<img src="{{ .Site.Params.baseURL }}/img/{{ .Site.Params.Navigation.logo }}" alt="" />{{ else }}<strong>{{ .Site.Params.Navigation.title }}</strong> <span>{{ .Site.Params.Navigation.subtitle }}</span>{{ end }}</a>
        <nav>
          <!-- see https://github.com/humrochagf/colordrop/blob/master/layouts/partials/language.html -->
          <div class="language-selector">
            {{ if .IsTranslated }}
              {{ range .Translations }}
                <a class="language-item" href="{{ .Permalink }}">
                  {{ .Language.Lang }}
                </a>
              {{ end }}
            {{ end }}
          </div>
          &nbsp; |
          <a href="#menu">{{ .Site.Params.Navigation.menu }}</a>
        </nav>
    </header>

{{ "<!-- Menu -->" | safeHTML }}
    <nav id="menu">
        <ul class="links">
            {{ range .Site.Params.Navigation.links }}
                <li><a href="{{ .url | absLangURL}}">{{ .name }}</a></li>
            {{ end }}

        </ul>
        <ul class="actions vertical">
            {{ range .Site.Params.Navigation.button1 }}
                <li><a href="{{ .url | absLangURL}}" class="button special fit">{{ .name }}</a></li>
            {{ end }}
            {{ range .Site.Params.Navigation.button2 }}
                <li><a href="{{ .url | absLangURL}}" class="button fit">{{ .name }}</a></li>
            {{ end }}
        </ul>
    </nav>