<nav class="navbar is-spaced is-fixed-top is-size-8" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">


        <div class="navbar-start">

            {{ range index .Site.Languages }} 
                <a class="navbar-item" href="/{{ . }}">{{ upper . }}</a>
            {{ end }}

            {{ range .Site.Menus.main }}
                <a class="navbar-item" href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}

    </div>
</nav>