<div class="columns is-multiline is-vcentered is-mobile mx-6">
    <div class="column is-full has-text-centered content-text">
        <h2>Notre équipe</h2>
        <p>À votre service</p>
    </div>
    {{ $members := index .Site.Data "members"}}
    {{ range $members }}
    <div class="column is-4 has-text-centered">
        <figure class="image is-128x128 is-inline-block">
            <img class="is-rounded img-member" src="{{ .picture }}"/>
        </figure>
        <h6>{{ .name.given }}{{ .name.family }}, {{ .title }}</h6>
        <p>{{ .en.bio }}</p>
    </div>
    {{end}}
</div>