<div id="team" class="columns is-multiline is-vcentered is-mobile mx-6">
    <div class="column is-full has-text-centered content-text">
        <h2>Notre équipe</h2>
        <p>À votre service</p>
    </div>
    {{ $members := index .Site.Data .Site.Language.Lang "members"}}
    {{ range $members }}
    <div class="column is-4 has-text-centered">
        <figure class="image is-128x128 is-inline-block">
            <img class="is-rounded img-member" src="{{ .picture }}"/>
        </figure>
        <h6 class="my-0">{{ .name.given }} {{ .name.family }}, {{ .title }}</h6>
        <p class="is-size-6 mb-0">{{ .role }}</p>
        <p class="is-size-6">
            {{with .social }}
                {{ if .mail }}
                    <a href="mailto:{{ .mail }}" target="_blank"><ion-icon name="mail-outline"></ion-icon></a>
                {{ end }}
                {{ if .website }}
                    <a href="{{ .website }}" target="_blank"><ion-icon name="globe-outline"></ion-icon></a>
                {{ end }}
                {{ if .github }}
                    <a href="https://github.com/{{ .github }}" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
                {{ end }}
                {{ if .linkedin }}
                    <a href="https://www.linkedin.com/in/{{ .linkedin }}" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
                {{ end }}
                {{ if .researchgate }}
                    <a href="https://www.researchgate.net/profile/{{ .researchgate }}" target="_blank"><ion-icon class="ai ai-researchgate-square"></ion-icon></a>
                {{ end }}
                {{ if .orcid }}
                    <a href="https://orcid.org/{{ .orcid }}" target="_blank"><ion-icon class="ai ai-orcid"></ion-icon></a>
                {{ end }}
            {{ end }}
        </p>
        <p class="is-size-6 mb-0">{{ .bio.short }}</p>
    </div>
    {{ end }}
</div>