<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<div class="content">
    {{ $data := index .Site.Data .Site.Language.Lang }}
    {{ range $data.education }}
    <p>
    <h3>{{ .name }} ({{ .year }})</h3>
    </p>
    <div class="columns">
      <div class="column is-one-quarter">
        <img src="{{ .picture }}" style="width:75%">
      </div>
      <div class="column">
        {{ .client }}
        <span class="icon">
          <a href="{{ .url }}"><i class="fas fa-globe-americas"></i></a>
        </span>
      </div>
    </div>
    {{ end }}
</div>

