<div class="pubs">
  <ol>
    {{ $letk := "Kevin" | truncate 1 "." }}
    {{ $letd := "David" | truncate 1 "." }}
    {{ $lets := "Steve" | truncate 1 "." }}
    {{ range sort .Site.Data.pubs.references "issued" }}
    <li>
      {{ $len := len .author }}
      {{ $len2 := sub $len 1 }}
      {{ range $i, $e := .author}}
        {{ $let := .given | truncate 1 "." }}
        {{ if or (and (eq .family "Beauchesne") (eq $let $letd)) (and (eq .family "Cazelles") (eq $let $letk)) (and (eq
        .family "Vissault") (eq $let $lets)) }}
        <b><span style="color: {{ $.Site.Params.col_emphase }};">
              {{ .family }} {{ $let }}</span></b>{{ if eq $len2 $i }}.{{ else }},{{ end }}
        {{ else }}
          {{ .family }} {{ $let }}{{ if eq $len2 $i }}{{ else }},{{ end }}
        {{ end }}
        {{ end }}
        {{ with .issued }} ({{ substr . 0 4 }}). {{ end }}
        <b>{{ .title }}. </b>
        {{ if .container }}
          {{ .container }}
        {{ if .volume }}
          <em>{{ .volume }}</em>{{ if .issue }} ({{ .issue }}).{{ end }}
        {{ end }}
        {{ end }}
        {{ if .doi }}<i class='ai ai-doi'></i> <a href="{{ .url }}">{{ .doi }}</a>{{ end }}
      <a
        href="mailto:info@insileco.io?subject=Paper%20Request&amp;body=Dear%20inSileco%20Team%2C%20%0A%0AI'm%20interested%20in%20this%20research%3A%20%22{{ .title }}%22.%20Could%20you%20please%20provide%20the%20full-text%20for%20it?%0A%0ASincerely%2C">
        <ion-icon name="mail-outline"></ion-icon>
      </a>
    </li>
    {{ end }}
  </ol>
</div>